name: CD to DockerHub
on:
  push:
    branches: [ main ]
jobs:
  docker-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        # Używamy standardowej akcji do logowania, korzystając z sekretów
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        # Używamy zmiennej nazwy użytkownika do poprawnego tagowania obrazu
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/python-app:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/python-app:latest